@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Tanha;
  src: url("../public/Font/Tanha-FD.woff2") format(woff2);
  font-weight: normal;
}
body {
  background-image: url("../public/Images/Hero-bg.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
